.header-padding{
    padding: 2%;
  }
  .navbar-brand{
    margin-left: 7%;
    color: #fff;
    font-size: 40px;
  }
  .purple{
    color: rgb(112, 63, 187);
  }
  ul .nav-item .nav-link{
    color: #fff;
  }
   .itemok{
    margin-left: 33%;
  }
  
  .itemok .ok1 .ok2{
  margin-right: 15px;
  }
  
  .rs-banner {
    background-image: url("https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 80vh;
    position: relative;
    overflow: hidden;
  }
  
  .rs-banner .waves{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  }
  nav a{
    color: #fff;
  }
   .icon1{
    padding-right: 4%;
  }
  .custom{
    margin-right: 7%;
  }
  .custom12{
    margin-left: 7%;
  }
  
  .green{
    color: rgb(17, 207, 17);
  }
  .yellow{
    color: rgb(228, 228, 29);
  }
  h1{
    padding-top: 6%;
  }
  
  
  
  